body {
  font-family: Helvetica;
}

ul li {
  padding-left: 20px;
  padding-right: 20px;
}

.d-flex {
  padding-left: 30px;
  padding-right: 30px;
}

.search {
  border: 1px solid black;

  border-radius: 8px;
  background: white;
  max-width: 300px;
  max-height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.search input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding: 0 30px 0 10px;
  margin: 0;
  background: none;
  outline: none;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.search button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 20px;
  height: 25px;
}
.kassa {
  display: flex;
}
.cart {
  padding: 0.5em;
}

/* ---------------- Produktsidan - herr ---------------- */
h1 {
  text-align: center;
  padding-bottom: 20px;
}

.herrbild {
  text-align: center;
  background-color: #f1f1f1;
  margin: 30px;
  padding: 20px;
}

@media only screen and (max-width: 764px) {
  .herrbild {
    max-width: 100%;
  }
  img {
    width: 100%;
  }
}

@media only screen and (max-width: 764px) {
  .herrbild {
    max-width: 100%;
  }
  img {
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .herrbild {
    max-width: 100%;
  }
  img {
    width: 100%;
  }
}

.cards-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
  padding: 10px;
}

.card {
  margin: auto;
}

.btn {
  background-color: black;
  color: white;
  font-size: 15px;
}

.btn:hover {
  border: 1px solid black;
  color: black;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.main {
  max-width: 40.5rem;
  max-height: fit-content;
  margin: auto;
  padding: 2rem 1.25rem;
}
.title h3 {
  font-size: medium;
  padding: 10px 10px;
  text-align: center;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.5;
  font-weight: 400;
}

.img,
.blog-img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.ftco-footer-social {
  li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
    a {
      height: 40px;
      width: 40px;
      display: block;
      background: rgba($black, 0.05);
      border-radius: 50%;
      position: relative;
      span {
        position: absolute;
        font-size: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &:hover {
        color: $white;
      }
    }
  }
}

.ftco-section {
  padding: 12em 0;
  h2 {
    margin-bottom: 0;
  }
}

footer {
  padding: 7em 0;
}

.footer {
  background: #3f696d;

  p {
    color: rgba(255, 255, 255, 0.3);
  }
  .footer-heading {
    font-size: 30px;
    color: $white;
    font-weight: 700;
    margin-bottom: 30px;
    .logo {
      color: white;
    }
  }
  .menu {
    margin-bottom: 30px;
    a {
      color: rgba(255, 255, 255, 0.6);
      margin: 0 10px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
  .ftco-footer-social {
    li {
      a {
        background: transparent;
        border: 1px solid primary;
      }
    }
  }
}
/*# sourceMappingURL=mysass.css.map */

/* ----------------- Produktsida --------------*/



.productInfo {
  font-size: small;
  
}

.productPrice {
  font-weight: 200;
}

.productText {
  font-family: 'Open Sans', sans-serif;
  border-top: 1px solid black;
  max-width: 3000px;
  margin-bottom: 10px;
}

.productPicBig {
  width: 400px;
  height: 400px;
  display: flex-end;
  float: right;

}
.productPicSmall {
  width: 400px;
  height: 400px;
}
.productPageBig{
  max-width: 80%;
  
}

.produtPageSmall {
  max-width: 90;
}

@media only screen and (min-width: 1280px) {
.containerProd {
  border: rgb(209, 209, 209) solid 1px;
  margin-left: 180px;
  margin-right: 180px;
}
}
@media only screen and (max-width: 1279px) {
  .containerProd {
    border: rgb(100, 100, 100) solid 1px;
  }
  }

.select {
  display: block;
  pad: 10px;
  margin-top: 20px;
  
}


/* --------------------VARUKORGEN & KNAPPARNA-------------------- */
/* Siffran på antalet produkter i varukorgen */
  .items-in-basket{
  position: absolute;
  margin-left: 10px;
  margin-top: 12px;
  text-align: center;
  font-size: 10px;
  width: 14px;
  font-weight: bolder;
  border-radius: 5px;
  color: white;
  background-color: black;
  }

  .fa-shopping-cart {
    color: black;
  }

  #checkout img {
  height: 120px;
  display: block;
  padding: 10px;
  }

  #checkout tr td {
  height: 80px;
  width: 25%;
  border-bottom: 2px solid lightgray;
  margin-left: 5px;
  }

/* Popup-meddelande att en produkt har dykt upp */
  #notify {
  position: fixed;
  background-color: black;
  color: white;
  bottom: 0px;
  width: 100%;
  padding-top: 10px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1000ms, visibility 1000ms;
  }

  .visible {
  visibility: visible !important;
  opacity: 1 !important;
  }

/* Betala eller släng knapparna i kassan */
  .checkout-buttons {
  background-color: darkgrey;
  color: white;
  border: none;
  padding: 7px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 2px;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  }

  .checkout-buttons:hover {
    color: white;
    background-color: black;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    }

  /* --------------------VARUKORG - UNDERRUBRIKERNA---------------- */
  .container-products {
  max-width: 50%;
  margin: auto;
  }

  .products {
  margin: auto;
  width: 50%;
  }

  .product-header1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-bottom: 4px solid lightgray;
  margin: auto;
  }

  .produktnamn {
  width: 20%;
  }

  .produktnummer {
  width: 20%;
  }
  
  .produktnamn1 {
  margin-left: 5%;
  }

  .total {
  margin-left: 6%;
  }

  .pris {
  margin-left: 17%;
  }

  @media only screen and (max-width: 764px) {
    .container-products, .products, .product-header1 {
    max-width: 100%;
   }
   h5 {
     font-size: 12px;
   }
  }
   
    @media only screen and (max-width: 764px) {
    .container-products, .products, .product-header1 {
    max-width: 100%;
   }
   h5 {
    font-size: 12px;
  }
  }
   
    @media only screen and (max-width: 1200px) {
    .container-products, .products, .product-header1 {
    width: 100%;
   }
   h5 {
    font-size: 12px;
  }
  }
/* --------------- KONTAKTA OSS --------------*/

.contact {
 justify-content: center;
 display: grid;

}

.form-control {
  max-width: 450px;
  max-height: 700px;
}

.contactText {
  justify-content: center;
  
}